<?xml version="1.0" encoding="UTF-8"?>
<launch>

<param name="robot_description" command="cat $(find random_simulates)/urdf/robot2.urdf" />

<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 1 map lidar_link 100"/>

<arg name="world" default="$(find random_simulates)/worlds/turtie.world" />
<include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="world_name" value="$(arg world)"/> [
<arg name="use_sim_time" value="true" />
</include>

<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model robot2" />
<node name="rviz" pkg="rviz" type="rviz"/>


</launch>
